.SearchForm {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 3px solid #4169e1;
  border-radius: 50px;
  overflow: hidden;
  padding: 5px;
}

.SearchForm:hover {
  box-shadow: 0 2px 8px 1px rgb(65 105 225 / 90%);
}

.SearchForm__button {
  height: 34px;
  width: 80px;
  color: #fff;
  cursor: pointer;
  background-color: #4169e1;
  border: none;
  border-radius: 50px;
  font-size: medium;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.SearchForm__button:hover {
  opacity: 1;
}

.SearchForm__input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.SearchForm__input::placeholder {
  font: inherit;
  font-size: 24px;
}
